.popup
	border-radius: 10px
	padding: 30px 40px 40px !important
	width: 430px
	max-width: 100%

	&#add-user,
	&#add-client
		width: 469px

	&__title
		text-align: center
		font-size: em(20)
		font-weight: 500
		line-height: calc(24 / 20)
		color: #212121
		margin: 0 0 30px
	&--add-dep
		padding: 0 !important
		width: 767px

.captcha
	display: flex
	align-items: flex-end

	&-input
		margin-right: 16px

	&-img

		img
			display: block