<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Авторизация
		include inc/head.pug
		include inc/css.pug
	body.main.loading.space
		include inc/header.pug
		.add-dep
			.add-dep__item
				.add-dep__heading
					h2 Добавьте отделы на вашем предприятии
				.add-dep__cta
					form(action="#")
						.form__flex
							.form__inputs-input
								.default-input
									input.default-input__input(type="text" placeholder="Название отдела")
									label.default-input__label Название отдела
							.form__inputs-input
								.default-input
									select.default-input__input.default-input__input--select
										option(value="1") Начало
										option(value="2") 10:00
										option(value="3") 11:00
										option(value="4") 12:00
										option(value="5") 13:00
										option(value="6") 14:00
										option(value="7") 15:00
										option(value="8") 16:00
										option(value="9") 17:00
									label.default-input__label График
							.form__inputs-input
								.default-input
									select.default-input__input.default-input__input--select
										option(value="1") Окончание
										option(value="2") 10:00
										option(value="3") 11:00
										option(value="4") 12:00
										option(value="5") 13:00
										option(value="6") 14:00
										option(value="7") 15:00
										option(value="8") 16:00
										option(value="9") 17:00
							.form__inputs-input
								.default-input
									input.default-btn(type="submit" value="Добавить")
									svg(width="8" height="8" viewbox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(d="M8 3.45283H4.57931V0H3.42069V3.45283H0V4.56604H3.42069V8H4.57931V4.56604H8V3.45283Z" fill="white")
				.add-dep__content
					.content__heading
						h3 Отделы
					.content__add
						ul
							li
								span Отдел разработки
								.dep-buttons
									a.dep-edit.fancybox(href="#add-dep")
										svg(width="17" height="17" viewbox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
											g(clip-path="url(#clip0)")
												path(d="M13.9641 8.50003C13.6288 8.50003 13.3569 8.77186 13.3569 9.10718V15.1785C13.3569 15.5138 13.0851 15.7856 12.7498 15.7856H1.8214C1.48608 15.7856 1.21426 15.5138 1.21426 15.1785V3.03582C1.21426 2.7005 1.48608 2.42867 1.8214 2.42867H9.10702C9.44235 2.42867 9.71417 2.15685 9.71417 1.82153C9.71417 1.4862 9.44235 1.21442 9.10702 1.21442H1.8214C0.81547 1.21442 0 2.02989 0 3.03582V15.1785C0 16.1844 0.81547 16.9999 1.8214 16.9999H12.7498C13.7558 16.9999 14.5712 16.1844 14.5712 15.1785V9.10714C14.5712 8.77186 14.2994 8.50003 13.9641 8.50003Z" fill="#2AAD6D")
												path(d="M16.3194 0.680953C15.8835 0.244954 15.2922 6.05272e-05 14.6756 0.000131676C14.0587 -0.00164704 13.4669 0.243673 13.0321 0.681344L5.03492 8.67788C4.96858 8.74472 4.91853 8.82598 4.88861 8.91527L3.67435 12.5581C3.56837 12.8762 3.74038 13.22 4.05852 13.3259C4.12024 13.3465 4.18488 13.357 4.24991 13.3571C4.31508 13.357 4.37986 13.3465 4.44176 13.3261L8.08457 12.1119C8.17404 12.082 8.25533 12.0317 8.32196 11.9649L16.3191 3.96777C17.2268 3.0602 17.2269 1.58863 16.3194 0.680953ZM15.4607 3.10986L7.56789 11.0026L5.20977 11.7901L5.99479 9.43497L13.8906 1.54224C14.3247 1.10902 15.0278 1.10973 15.461 1.54381C15.6679 1.75117 15.7846 2.03189 15.7855 2.32484C15.7862 2.61936 15.6693 2.90196 15.4607 3.10986Z" fill="#2AAD6D")
											defs
												clippath#clip0
													rect(width="17" height="17" fill="white")
									a.dep-close(href="#")
										svg(width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M7.69099 6.5001L12.7529 1.4379C13.0824 1.10862 13.0824 0.576231 12.7529 0.246956C12.4237 -0.0823187 11.8913 -0.0823187 11.562 0.246956L6.49992 5.30915L1.43798 0.246956C1.10856 -0.0823187 0.576335 -0.0823187 0.247067 0.246956C-0.0823556 0.576231 -0.0823556 1.10862 0.247067 1.4379L5.30901 6.5001L0.247067 11.5623C-0.0823556 11.8916 -0.0823556 12.424 0.247067 12.7532C0.411161 12.9175 0.62692 13 0.842525 13C1.05813 13 1.27374 12.9175 1.43798 12.7532L6.49992 7.69104L11.562 12.7532C11.7263 12.9175 11.9419 13 12.1575 13C12.3731 13 12.5887 12.9175 12.7529 12.7532C13.0824 12.424 13.0824 11.8916 12.7529 11.5623L7.69099 6.5001Z" fill="#EA0000")
							li
								span Отдел разработки
								.dep-buttons
									a.dep-edit.fancybox(href="#add-dep")
										svg(width="17" height="17" viewbox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
											g(clip-path="url(#clip0)")
												path(d="M13.9641 8.50003C13.6288 8.50003 13.3569 8.77186 13.3569 9.10718V15.1785C13.3569 15.5138 13.0851 15.7856 12.7498 15.7856H1.8214C1.48608 15.7856 1.21426 15.5138 1.21426 15.1785V3.03582C1.21426 2.7005 1.48608 2.42867 1.8214 2.42867H9.10702C9.44235 2.42867 9.71417 2.15685 9.71417 1.82153C9.71417 1.4862 9.44235 1.21442 9.10702 1.21442H1.8214C0.81547 1.21442 0 2.02989 0 3.03582V15.1785C0 16.1844 0.81547 16.9999 1.8214 16.9999H12.7498C13.7558 16.9999 14.5712 16.1844 14.5712 15.1785V9.10714C14.5712 8.77186 14.2994 8.50003 13.9641 8.50003Z" fill="#2AAD6D")
												path(d="M16.3194 0.680953C15.8835 0.244954 15.2922 6.05272e-05 14.6756 0.000131676C14.0587 -0.00164704 13.4669 0.243673 13.0321 0.681344L5.03492 8.67788C4.96858 8.74472 4.91853 8.82598 4.88861 8.91527L3.67435 12.5581C3.56837 12.8762 3.74038 13.22 4.05852 13.3259C4.12024 13.3465 4.18488 13.357 4.24991 13.3571C4.31508 13.357 4.37986 13.3465 4.44176 13.3261L8.08457 12.1119C8.17404 12.082 8.25533 12.0317 8.32196 11.9649L16.3191 3.96777C17.2268 3.0602 17.2269 1.58863 16.3194 0.680953ZM15.4607 3.10986L7.56789 11.0026L5.20977 11.7901L5.99479 9.43497L13.8906 1.54224C14.3247 1.10902 15.0278 1.10973 15.461 1.54381C15.6679 1.75117 15.7846 2.03189 15.7855 2.32484C15.7862 2.61936 15.6693 2.90196 15.4607 3.10986Z" fill="#2AAD6D")
											defs
												clippath#clip0
													rect(width="17" height="17" fill="white")
									a.dep-close(href="#")
										svg(width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M7.69099 6.5001L12.7529 1.4379C13.0824 1.10862 13.0824 0.576231 12.7529 0.246956C12.4237 -0.0823187 11.8913 -0.0823187 11.562 0.246956L6.49992 5.30915L1.43798 0.246956C1.10856 -0.0823187 0.576335 -0.0823187 0.247067 0.246956C-0.0823556 0.576231 -0.0823556 1.10862 0.247067 1.4379L5.30901 6.5001L0.247067 11.5623C-0.0823556 11.8916 -0.0823556 12.424 0.247067 12.7532C0.411161 12.9175 0.62692 13 0.842525 13C1.05813 13 1.27374 12.9175 1.43798 12.7532L6.49992 7.69104L11.562 12.7532C11.7263 12.9175 11.9419 13 12.1575 13C12.3731 13 12.5887 12.9175 12.7529 12.7532C13.0824 12.424 13.0824 11.8916 12.7529 11.5623L7.69099 6.5001Z" fill="#EA0000")
							li
								span Отдел разработки
								.dep-buttons
									a.dep-edit.fancybox(href="#add-dep")
										svg(width="17" height="17" viewbox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
											g(clip-path="url(#clip0)")
												path(d="M13.9641 8.50003C13.6288 8.50003 13.3569 8.77186 13.3569 9.10718V15.1785C13.3569 15.5138 13.0851 15.7856 12.7498 15.7856H1.8214C1.48608 15.7856 1.21426 15.5138 1.21426 15.1785V3.03582C1.21426 2.7005 1.48608 2.42867 1.8214 2.42867H9.10702C9.44235 2.42867 9.71417 2.15685 9.71417 1.82153C9.71417 1.4862 9.44235 1.21442 9.10702 1.21442H1.8214C0.81547 1.21442 0 2.02989 0 3.03582V15.1785C0 16.1844 0.81547 16.9999 1.8214 16.9999H12.7498C13.7558 16.9999 14.5712 16.1844 14.5712 15.1785V9.10714C14.5712 8.77186 14.2994 8.50003 13.9641 8.50003Z" fill="#2AAD6D")
												path(d="M16.3194 0.680953C15.8835 0.244954 15.2922 6.05272e-05 14.6756 0.000131676C14.0587 -0.00164704 13.4669 0.243673 13.0321 0.681344L5.03492 8.67788C4.96858 8.74472 4.91853 8.82598 4.88861 8.91527L3.67435 12.5581C3.56837 12.8762 3.74038 13.22 4.05852 13.3259C4.12024 13.3465 4.18488 13.357 4.24991 13.3571C4.31508 13.357 4.37986 13.3465 4.44176 13.3261L8.08457 12.1119C8.17404 12.082 8.25533 12.0317 8.32196 11.9649L16.3191 3.96777C17.2268 3.0602 17.2269 1.58863 16.3194 0.680953ZM15.4607 3.10986L7.56789 11.0026L5.20977 11.7901L5.99479 9.43497L13.8906 1.54224C14.3247 1.10902 15.0278 1.10973 15.461 1.54381C15.6679 1.75117 15.7846 2.03189 15.7855 2.32484C15.7862 2.61936 15.6693 2.90196 15.4607 3.10986Z" fill="#2AAD6D")
											defs
												clippath#clip0
													rect(width="17" height="17" fill="white")
									a.dep-close(href="#")
										svg(width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M7.69099 6.5001L12.7529 1.4379C13.0824 1.10862 13.0824 0.576231 12.7529 0.246956C12.4237 -0.0823187 11.8913 -0.0823187 11.562 0.246956L6.49992 5.30915L1.43798 0.246956C1.10856 -0.0823187 0.576335 -0.0823187 0.247067 0.246956C-0.0823556 0.576231 -0.0823556 1.10862 0.247067 1.4379L5.30901 6.5001L0.247067 11.5623C-0.0823556 11.8916 -0.0823556 12.424 0.247067 12.7532C0.411161 12.9175 0.62692 13 0.842525 13C1.05813 13 1.27374 12.9175 1.43798 12.7532L6.49992 7.69104L11.562 12.7532C11.7263 12.9175 11.9419 13 12.1575 13C12.3731 13 12.5887 12.9175 12.7529 12.7532C13.0824 12.424 13.0824 11.8916 12.7529 11.5623L7.69099 6.5001Z" fill="#EA0000")
							li
								span Отдел разработки
								.dep-buttons
									a.dep-edit.fancybox(href="#add-dep")
										svg(width="17" height="17" viewbox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
											g(clip-path="url(#clip0)")
												path(d="M13.9641 8.50003C13.6288 8.50003 13.3569 8.77186 13.3569 9.10718V15.1785C13.3569 15.5138 13.0851 15.7856 12.7498 15.7856H1.8214C1.48608 15.7856 1.21426 15.5138 1.21426 15.1785V3.03582C1.21426 2.7005 1.48608 2.42867 1.8214 2.42867H9.10702C9.44235 2.42867 9.71417 2.15685 9.71417 1.82153C9.71417 1.4862 9.44235 1.21442 9.10702 1.21442H1.8214C0.81547 1.21442 0 2.02989 0 3.03582V15.1785C0 16.1844 0.81547 16.9999 1.8214 16.9999H12.7498C13.7558 16.9999 14.5712 16.1844 14.5712 15.1785V9.10714C14.5712 8.77186 14.2994 8.50003 13.9641 8.50003Z" fill="#2AAD6D")
												path(d="M16.3194 0.680953C15.8835 0.244954 15.2922 6.05272e-05 14.6756 0.000131676C14.0587 -0.00164704 13.4669 0.243673 13.0321 0.681344L5.03492 8.67788C4.96858 8.74472 4.91853 8.82598 4.88861 8.91527L3.67435 12.5581C3.56837 12.8762 3.74038 13.22 4.05852 13.3259C4.12024 13.3465 4.18488 13.357 4.24991 13.3571C4.31508 13.357 4.37986 13.3465 4.44176 13.3261L8.08457 12.1119C8.17404 12.082 8.25533 12.0317 8.32196 11.9649L16.3191 3.96777C17.2268 3.0602 17.2269 1.58863 16.3194 0.680953ZM15.4607 3.10986L7.56789 11.0026L5.20977 11.7901L5.99479 9.43497L13.8906 1.54224C14.3247 1.10902 15.0278 1.10973 15.461 1.54381C15.6679 1.75117 15.7846 2.03189 15.7855 2.32484C15.7862 2.61936 15.6693 2.90196 15.4607 3.10986Z" fill="#2AAD6D")
											defs
												clippath#clip0
													rect(width="17" height="17" fill="white")
									a.dep-close(href="#")
										svg(width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M7.69099 6.5001L12.7529 1.4379C13.0824 1.10862 13.0824 0.576231 12.7529 0.246956C12.4237 -0.0823187 11.8913 -0.0823187 11.562 0.246956L6.49992 5.30915L1.43798 0.246956C1.10856 -0.0823187 0.576335 -0.0823187 0.247067 0.246956C-0.0823556 0.576231 -0.0823556 1.10862 0.247067 1.4379L5.30901 6.5001L0.247067 11.5623C-0.0823556 11.8916 -0.0823556 12.424 0.247067 12.7532C0.411161 12.9175 0.62692 13 0.842525 13C1.05813 13 1.27374 12.9175 1.43798 12.7532L6.49992 7.69104L11.562 12.7532C11.7263 12.9175 11.9419 13 12.1575 13C12.3731 13 12.5887 12.9175 12.7529 12.7532C13.0824 12.424 13.0824 11.8916 12.7529 11.5623L7.69099 6.5001Z" fill="#EA0000")
							li
								span Отдел маркетинга
								.dep-buttons
									a.dep-edit.fancybox(href="#add-dep")
										svg(width="17" height="17" viewbox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
											g(clip-path="url(#clip0)")
												path(d="M13.9641 8.50003C13.6288 8.50003 13.3569 8.77186 13.3569 9.10718V15.1785C13.3569 15.5138 13.0851 15.7856 12.7498 15.7856H1.8214C1.48608 15.7856 1.21426 15.5138 1.21426 15.1785V3.03582C1.21426 2.7005 1.48608 2.42867 1.8214 2.42867H9.10702C9.44235 2.42867 9.71417 2.15685 9.71417 1.82153C9.71417 1.4862 9.44235 1.21442 9.10702 1.21442H1.8214C0.81547 1.21442 0 2.02989 0 3.03582V15.1785C0 16.1844 0.81547 16.9999 1.8214 16.9999H12.7498C13.7558 16.9999 14.5712 16.1844 14.5712 15.1785V9.10714C14.5712 8.77186 14.2994 8.50003 13.9641 8.50003Z" fill="#2AAD6D")
												path(d="M16.3194 0.680953C15.8835 0.244954 15.2922 6.05272e-05 14.6756 0.000131676C14.0587 -0.00164704 13.4669 0.243673 13.0321 0.681344L5.03492 8.67788C4.96858 8.74472 4.91853 8.82598 4.88861 8.91527L3.67435 12.5581C3.56837 12.8762 3.74038 13.22 4.05852 13.3259C4.12024 13.3465 4.18488 13.357 4.24991 13.3571C4.31508 13.357 4.37986 13.3465 4.44176 13.3261L8.08457 12.1119C8.17404 12.082 8.25533 12.0317 8.32196 11.9649L16.3191 3.96777C17.2268 3.0602 17.2269 1.58863 16.3194 0.680953ZM15.4607 3.10986L7.56789 11.0026L5.20977 11.7901L5.99479 9.43497L13.8906 1.54224C14.3247 1.10902 15.0278 1.10973 15.461 1.54381C15.6679 1.75117 15.7846 2.03189 15.7855 2.32484C15.7862 2.61936 15.6693 2.90196 15.4607 3.10986Z" fill="#2AAD6D")
											defs
												clippath#clip0
													rect(width="17" height="17" fill="white")
									a.dep-close(href="#")
										svg(width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M7.69099 6.5001L12.7529 1.4379C13.0824 1.10862 13.0824 0.576231 12.7529 0.246956C12.4237 -0.0823187 11.8913 -0.0823187 11.562 0.246956L6.49992 5.30915L1.43798 0.246956C1.10856 -0.0823187 0.576335 -0.0823187 0.247067 0.246956C-0.0823556 0.576231 -0.0823556 1.10862 0.247067 1.4379L5.30901 6.5001L0.247067 11.5623C-0.0823556 11.8916 -0.0823556 12.424 0.247067 12.7532C0.411161 12.9175 0.62692 13 0.842525 13C1.05813 13 1.27374 12.9175 1.43798 12.7532L6.49992 7.69104L11.562 12.7532C11.7263 12.9175 11.9419 13 12.1575 13C12.3731 13 12.5887 12.9175 12.7529 12.7532C13.0824 12.424 13.0824 11.8916 12.7529 11.5623L7.69099 6.5001Z" fill="#EA0000")
							li
								span Отдел Б24
								.dep-buttons
									a.dep-edit.fancybox(href="#add-dep")
										svg(width="17" height="17" viewbox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
											g(clip-path="url(#clip0)")
												path(d="M13.9641 8.50003C13.6288 8.50003 13.3569 8.77186 13.3569 9.10718V15.1785C13.3569 15.5138 13.0851 15.7856 12.7498 15.7856H1.8214C1.48608 15.7856 1.21426 15.5138 1.21426 15.1785V3.03582C1.21426 2.7005 1.48608 2.42867 1.8214 2.42867H9.10702C9.44235 2.42867 9.71417 2.15685 9.71417 1.82153C9.71417 1.4862 9.44235 1.21442 9.10702 1.21442H1.8214C0.81547 1.21442 0 2.02989 0 3.03582V15.1785C0 16.1844 0.81547 16.9999 1.8214 16.9999H12.7498C13.7558 16.9999 14.5712 16.1844 14.5712 15.1785V9.10714C14.5712 8.77186 14.2994 8.50003 13.9641 8.50003Z" fill="#2AAD6D")
												path(d="M16.3194 0.680953C15.8835 0.244954 15.2922 6.05272e-05 14.6756 0.000131676C14.0587 -0.00164704 13.4669 0.243673 13.0321 0.681344L5.03492 8.67788C4.96858 8.74472 4.91853 8.82598 4.88861 8.91527L3.67435 12.5581C3.56837 12.8762 3.74038 13.22 4.05852 13.3259C4.12024 13.3465 4.18488 13.357 4.24991 13.3571C4.31508 13.357 4.37986 13.3465 4.44176 13.3261L8.08457 12.1119C8.17404 12.082 8.25533 12.0317 8.32196 11.9649L16.3191 3.96777C17.2268 3.0602 17.2269 1.58863 16.3194 0.680953ZM15.4607 3.10986L7.56789 11.0026L5.20977 11.7901L5.99479 9.43497L13.8906 1.54224C14.3247 1.10902 15.0278 1.10973 15.461 1.54381C15.6679 1.75117 15.7846 2.03189 15.7855 2.32484C15.7862 2.61936 15.6693 2.90196 15.4607 3.10986Z" fill="#2AAD6D")
											defs
												clippath#clip0
													rect(width="17" height="17" fill="white")
									a.dep-close(href="#")
										svg(width="13" height="13" viewbox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M7.69099 6.5001L12.7529 1.4379C13.0824 1.10862 13.0824 0.576231 12.7529 0.246956C12.4237 -0.0823187 11.8913 -0.0823187 11.562 0.246956L6.49992 5.30915L1.43798 0.246956C1.10856 -0.0823187 0.576335 -0.0823187 0.247067 0.246956C-0.0823556 0.576231 -0.0823556 1.10862 0.247067 1.4379L5.30901 6.5001L0.247067 11.5623C-0.0823556 11.8916 -0.0823556 12.424 0.247067 12.7532C0.411161 12.9175 0.62692 13 0.842525 13C1.05813 13 1.27374 12.9175 1.43798 12.7532L6.49992 7.69104L11.562 12.7532C11.7263 12.9175 11.9419 13 12.1575 13C12.3731 13 12.5887 12.9175 12.7529 12.7532C13.0824 12.424 13.0824 11.8916 12.7529 11.5623L7.69099 6.5001Z" fill="#EA0000")
				.add-dep__btn
					a.default-btn(href="#")
						span.default-btn__text Продолжить
				a.back(href="#")
					svg(width="11" height="11" viewbox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg")
						g(clip-path="url(#clip0)")
							path(d="M0.126027 5.80416C0.126156 5.80429 0.126264 5.80444 0.126414 5.80457L2.37162 8.03894C2.53982 8.20632 2.81188 8.2057 2.9793 8.03748C3.14671 7.86928 3.14606 7.59722 2.97786 7.42982L1.47043 5.92969H10.5703C10.8076 5.92969 11 5.73732 11 5.50001C11 5.26269 10.8076 5.07032 10.5703 5.07032H1.47046L2.97784 3.5702C3.14604 3.40279 3.14669 3.13074 2.97928 2.96254C2.81185 2.79429 2.53977 2.79371 2.3716 2.96108L0.126392 5.19545C0.126264 5.19557 0.126156 5.19573 0.126005 5.19585C-0.0422812 5.36382 -0.0417442 5.63676 0.126027 5.80416Z" fill="#2AAD6D")
						defs
							clippath#clip0
								rect(width="11" height="11" fill="white" transform="translate(11 11) rotate(-180)")
					span Вернуться назад
		#add-dep.popup.popup--add-dep.fancybox-content
			.add-dep
				.add-dep__item
					.add-dep__heading
						h2 Редактировать отделы на вашем предприятии
					.add-dep__cta
						form(action="#")
							.form__flex
								.form__inputs-input
									.default-input
										input.default-input__input(type="text" placeholder="Название отдела")
										label.default-input__label Название отдела
								.form__inputs-input
									.default-input
										select.default-input__input.default-input__input--select
											option(value="1") Начало
											option(value="2") 10:00
											option(value="3") 11:00
											option(value="4") 12:00
											option(value="5") 13:00
											option(value="6") 14:00
											option(value="7") 15:00
											option(value="8") 16:00
											option(value="9") 17:00
										label.default-input__label График
								.form__inputs-input
									.default-input
										select.default-input__input.default-input__input--select
											option(value="1") Окончание
											option(value="2") 10:00
											option(value="3") 11:00
											option(value="4") 12:00
											option(value="5") 13:00
											option(value="6") 14:00
											option(value="7") 15:00
											option(value="8") 16:00
											option(value="9") 17:00
								.form__inputs-input
									.default-input
										input.default-btn(type="submit" value="Изменить")
										svg(width="8" height="8" viewbox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M8 3.45283H4.57931V0H3.42069V3.45283H0V4.56604H3.42069V8H4.57931V4.56604H8V3.45283Z" fill="white")


		include inc/footer.pug
		include inc/scripts.pug

